@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

html, body{
    font-family: 'Montserrat', sans-serif;
}

.bg-blue {
    background-color: #122437;
}

.bg-blue:hover {
    background-color: #1f3247;
}

.bg-pink {
    background-color: #963279;
}

.bg-pink:hover {
    background-color: #a04e89;
}

.bg-orange {
    background-color: #D46830;
}

.bg-orange:hover {
    background-color: #d57d52;
}

.text-orange {
    color: #D46830;
}